* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f2f6f9;
}

input {
    outline: none;
}

#logIn {
    max-width: 800px;
    margin: 0 auto;
    padding: 25vh 40px 0;
}

#logIn .logo {
    width: 100%;
    margin-bottom: 60px;
}

#logIn .form {
    padding-top: 30px;
    font-size: 28px;
    line-height: 60px;
    color: #222;
    font-weight: bold;
    display: flex;
}

#logIn .form div {
    min-width: 160px;
}

#logIn .form input {
    flex: 1;
    padding: 10px 16px;
    font-size: 20px;
    line-height: 40px;
    color: #222;
    border: none;
    background: #fff;
    border-radius: 30px;
}

#logIn .button {
    margin: 60px auto;
    width: 200px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    line-height: 50px;
    cursor: pointer;
    background: #1a4a72;
    border-radius: 25px;
    text-align: center;
}

@media (max-width: 450px) {
    #logIn .form {
        padding-top: 15px;
        font-size: 18px;
        line-height: 40px;
    }

    #logIn .form div {
        min-width: 110px;
    }

    #logIn .form input {
        padding: 5px 10px;
        font-size: 16px;
        line-height: 30px;
    }

    #logIn .button {
        width: 140px;
        font-size: 18px;
        line-height: 36px;
        border-radius: 18px;
    }
}
